#watermark
{
    display: block;
    position: fixed;
    bottom:0;
    right:0;
    color:black;
    width: 100px;
    height: 2cm;
    border: 2px black;
    border-style: double;
    opacity: 0.65;
    border-right: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#banner{
    display: block;
    position: relative;
    width: 80%;
    border: 2px black;
    border-style: dotted;
    margin: auto;
}

h1{
    text-align: center;
    margin-top: 45%;
    position: block;
    font-size: 2.5em;
    border-bottom: 2px solid black;
}

a{
    text-decoration: none !important;
    color: black;
}

#galerie,figure,#iframe,#trigger,video{
    display: none;
}

#contact{
    text-decoration: none;
}

nav{
    display: none;
}

header{
    page-break-after: always;
}

footer{
    page-break-before: always;
}

@page:left{

    margin-left:2.5cm;
    margin-right:0.5cm;
}
@page:right{

    margin-right:2.5cm;
    margin-left:0.5cm;
}