<footer>
    <div id="trigger" title="top-link"><a href="#" id="link-top"><div id="paranteze"><div id="triunghi"></div></div></a></div>
    <div id="contact">
        <address>
            <a href="tel:+0771232456">Telefon</a>
            <a target="_blank" href="https://goo.gl/maps/krMgDf163otHGad4A">Locație</a>
            <a href="mailto:petShop@animal.com">Mail</a>
            <a href="skype:example?chat">Skype</a>
        </address>
    </div>

    <p><small>Copyright &copy;2022 Tudor Nicu-Cornel <time datetime="2022-10-17">17 Octombrie 2022</time></small></p>
    <p id="watermark">Copyright Tudor Nicu-Cornel</p>
</footer>