   <nav>
       <label id="hamburger" for="ch-menu">
           <img src="resurse/imagini/hamburger.png" alt="menu">
       </label>
       <input id="ch-menu" type="checkbox">

       <ul class="meniu">
           <li class="marire">   
               <div id ="ecran-mediu"><i class="fa fa-fw fa-home"></i></div>
               <div id ="ecran-mic"><i class="fa fa-fw fa-home"></i></div>
               <div id ="ecran-mare"><a href="/index"><i class="fa fa-fw fa-home"></i> Acasă</a></div>
               <ul>
                           <li><a href="#categoriiAnimale">Categorii de Animale</a></li>
                           <li><a href="#galerie">Galerie</a></li>
                           <li><a href="#iframe">Filmulețe cu Animale</a></li>    
                           <li><a href="#intrebari">Întrebări Frecvente</a></li>
                           <li><a href="#intretinere">Calculul Întreținerii</a></li>
               </ul>
           </li>

           <li class="marire">
               <a href="/ganimata">Galerie Animată</a> 
           </li>

           <li class="marire">
               <div>Câini</div>
                   <ul>
                       <li><a href=#hranaC>Hrană pentru Câini</a></li>
                       <li><a href=#produseIC>Produse de Igienizare</a></li>
                   </ul>
           </li>
                   
           <li class="marire">
               <div>Pisici</div>
                   <ul>
                       <li><a href=#hranaP>Hrană pentru Pisici</a></li>
                       <li><a href=#produseIP>Produse de Igienizare</a></li>
                   </ul>
           </li>

           <li class="marire">
               <div>Hamsteri</div>                                
                    <ul>
                       <li><a href=#hranaH>Hrană pentru Hamsteri</a></li>
                       <li><a href=#produseIH>Produse de Igienizare</a></li>
                   </ul>
           </li>
           
           <li class="marire"><a class="marireA" href=#Jucarii>Jucării</a></li>
       </ul>
   </nav>

   <hr>