nav {
  font-size: 14px;
  transition: all 1s linear;
  height: var(--inaltime-meniu);
  background-color: var(--culoare-meniu);
  overflow: visible;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body {
  --inaltime-meniu:45px;
  --latime-buton: 300px;
  --culoare-meniu: white;
  --culoare-meniu-selectat:turquoise;
  --latime-bord-meniu:1px;
  --border-radius: 30%;
}

ul.meniu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 15px;
}
ul.meniu li {
  cursor: pointer;
  background-color: var(--culoare-meniu);
  transition: all 0.1s linear;
  box-sizing: border-box;
}
ul.meniu li a {
  display: block;
  height: 100%;
}
ul.meniu li:hover ul {
  -webkit-animation-name: animatie_submeniu;
          animation-name: animatie_submeniu;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: 50% 0;
  display: block;
}
ul.meniu li:hover {
  background-color: var(--culoare-meniu-selectat);
}
ul.meniu li ul a::before {
  content: " ";
  display: block;
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to left, turquoise, white);
  height: 0;
  transition: all 0.2s linear;
}
ul.meniu li ul a::after {
  content: " ";
  display: block;
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  background-image: linear-gradient(to left, white, turquoise);
  transition: all 0.2s linear;
}
ul.meniu li ul a:hover:before {
  height: 100%;
}
ul.meniu li ul a:hover:after {
  height: 100%;
}
ul.meniu > li {
  height: var(--inaltime-meniu);
  overflow: hidden;
  line-height: var(--inaltime-meniu);
  vertical-align: middle;
  border: var(--latime-bord-meniu) solid black;
  width: var(--latime-buton);
  text-align: center;
}
ul.meniu > li:hover {
  overflow: visible;
}
ul.meniu > li:hover div {
  font-size: 30px;
}
ul.meniu > li div {
  font-size: 15px;
  transition: font-size 1s linear;
}
ul.meniu > li a.marireA {
  font-size: 15px;
  transition: font-size 1s linear;
}
ul.meniu > li:hover a.marireA {
  font-size: 30px;
}
ul.meniu ul {
  list-style-type: none;
  z-index: 10;
  position: relative;
  left: -1px;
  padding: 0;
  margin: 0;
}
ul.meniu ul li {
  height: var(--inaltime-meniu);
  border: var(--latime-bord-meniu) solid black;
  width: var(--latime-buton);
}
ul.meniu a {
  color: black;
  text-decoration: none;
}
ul.meniu ul li a {
  position: relative;
}

#hamburger, #ch-menu {
  display: none;
}

#ecran-mic {
  display: none;
}

@-webkit-keyframes animatie_submeniu {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes animatie_submeniu {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}/*# sourceMappingURL=nav.css.map */